html, body, div, h1, h3, p, a, figure, figcaption, li, header, hgroup, nav, section, main, article, ul {
	/*Resets all browser formatting*/
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}